/* Estilo de Encabezado*/
.header {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    background-color: #e7ecef;
    color: #274c77;
    padding: 10px 0;
    text-align: right;
    z-index: 1000; 
    font-size: 120%;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 2px;
}

.section {
    padding: 60px 20px; 
    margin-top: 50px; 
}

.quienes_somos { 
    background-color: #e7ecef; 
    color: #274c77;
}
.contacto { 
    background-color: #e7ecef;
    color:#274c77;
}

